<div id="<%= dom_id flight %>">
  <p>
    <strong>Duration:</strong>
    <%= flight.duration %> min
  </p>

  <p>
    <strong>Flying session:</strong>
    <%= flight.flying_session_id %>
  </p>

</div>
