<% content_for :title, "Editing instructor" %>

<h1>Editing instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>
  <%= link_to "Back to instructors", instructors_path %>
</div>
