<p style="color: green"><%= notice %></p>

<% content_for :title, "Instructors" %>

<h1>Instructors</h1>

<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td><%= link_to instructor.name, edit_instructor_path(instructor) %></td>
          <td class="actions">
            <%= link_to "Delete", instructor_path(instructor), 
                        data: { "turbo-method": :delete }, 
                        class: "btn btn-small btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New instructor", new_instructor_path %>
