<% content_for :title, "New flying session" %>

<h1>New flying session</h1>

<%= render "form", flying_session: @flying_session %>

<br>

<div>
  <%= link_to "Back to flying sessions", flying_sessions_path %>
</div>
